
/* universal style starts */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    
.open-sans_font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto; 
}
.btn{
    background-color: orange;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* universal style ends */


/* main Style starts */
header{
    background-color: #fff8f3;
    padding-top: 50px;
    background: url(images/developer.png), url(images/header_bg.png),#fff8f3;
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
nav{
    width: 81%;
    max-width: 1140px;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2{
    font-size: 45px;
    font-size: 900px;

}
.logo .orange{
    color: orange;
} 

.menu{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
}

.menu a{
    text-decoration: none;
    color: #474747;
    font-weight: ;
   
}

.banner_details h2{
    font-size: 45px;
    color: #474747;
    font-weight: 600px;
    margin-top: 5px;
}
.banner_details h1{
    font-weight: bold;
    font-size: 85px;
    color: black;
    margin-bottom: 20px;
}

.banner_details p{
    font-weight: 1.2rem ;
    font-size: 18px;
    color: #757575;
    margin-bottom: 56px;
    line-height: 30px;
}

#banner{
    
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#banner .banner_details{
    width: 585px;
}

.banner_details .btn_1{
    width: 200px;
    height: 64px;
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.banner_details .btn_2{
    width: 160px;
    height: 64px;
    background-color: white;
    color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid orange;
    border-radius: 5px;
    margin-left: 30px;
}

#about_me{
    margin-top: 130px;
}

.aboutme_container{
    background-color: #FFF8F3;
    max-width: 1140px;
    height: 550px;
    margin: 0 auto;
    text-align: center;
    padding: 131px 157px 131px 156px;
}

#about_me .aboutme_container h1{
    color: #181818;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 30px;
}

#about_me .aboutme_container p{
    color: #757575;
    line-height: 35px;
    font-size: 18px;
    margin-bottom: 30px;
}
.aboutme_contact{
    display: flex;
    justify-content: space-around;
}