
/* universal style starts */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    
.open-sans_font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto; 
}
.btn{
    background-color: orange;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* universal style ends */


/* main Style starts */
header{
    background-color: #fff8f3;
    padding-top: 50px;
    background: url(images/developer.png), url(images/header_bg.png),#fff8f3;
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
nav{
    width: 81%;
    max-width: 1140px;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2{
    font-size: 45px;
    font-size: 900px;

}
.logo .orange{
    color: orange;
} 

.menu{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
}

.menu a{
    text-decoration: none;
    color: #474747;
    font-weight: ;
   
}

.banner_details h2{
    font-size: 45px;
    color: #474747;
    font-weight: 600px;
    margin-top: 5px;
}
.banner_details h1{
    font-weight: bold;
    font-size: 85px;
    color: black;
    margin-bottom: 20px;
}

.banner_details p{
    font-weight: 1.2rem ;
    font-size: 18px;
    color: #757575;
    margin-bottom: 56px;
    line-height: 30px;
}

#banner{
    
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#banner .banner_details{
    width: 585px;
}

.banner_details .btn_1{
    width: 200px;
    height: 64px;
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.banner_details .btn_2{
    width: 160px;
    height: 64px;
    background-color: white;
    color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid orange;
    border-radius: 5px;
    margin-left: 30px;
}

#about_me{
    margin-top: 130px;
}

.aboutme_container{
    background-color: #FFF8F3;
    max-width: 1140px;
    height: 450px;
    margin: 0 auto;
    text-align: center;
    padding: 131px 157px 131px 156px;
}

#about_me .aboutme_container h1{
    color: #181818;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 30px;
}

#about_me .aboutme_container p{
    color: #757575;
    line-height: 35px;
    font-size: 18px;
    margin-bottom: 30px;
}
.aboutme_contact{
    display: flex;
    justify-content: space-around;
}
#who_am_i{
    margin-top: 130px;
   

}
#who_am_i .who_header{
    max-width: 1140px;
    width: 887px;
  margin: 0 auto;
  text-align: center;

    
}
#who_am_i .who_header h1{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
#who_am_i .who_header p{
    font-size: 18px;
    line-height: 30px;
    color: #787878;
}

.card_container{
    max-width: 1140px;
    width: 81%;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    gap: 15px;
}

.card_container .card{
    max-width: 267px;
    height: 377px;
}

.card .card_description{
    padding: 0 30px 0 30px;
}

.card{
    background-color: #fff8f3;
    box-shadow: 0 6px 50px 0 #00000028;
}
.card_icone img{
    padding: 30px;
}


#resume_sec{
    margin-top: 130px;
    margin-bottom: 50px;
   
}

#resume_sec h1{
 
    font-size: 35px;
    font-weight: bold;
    color: black;

}
#resume_sec .resume_title{
    text-align: center;
    
}
.educational_sec h3{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    
}

.resume_container{
    border-top: 113px;
    max-width: 1140px;
    width: 81%;
    display: flex;
    margin: 0 auto;
    gap: 20px;
}

.edu_card h4{
    font-size: 25px;
    color: #757575;
}
.edu_card p{
    font-size: 16px;
    color: #757575;
}

.educational_sec .edu_card{
    width: 551px;
    margin-top: 30px;
}

.resume_btn{
    text-align: center;
    margin-top: 50px;
}

.resume_btn button{
    width: 200px;
    height: 64px;
    border: none;
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;

    font-size: 20px;
    font-weight: bold;
}

#footer_sec{
    background-color: #FFF8F3;
    margin-top: 130px;
    padding: 130px 0;
  
}
.footer_container{
    max-width: 1140px;
    width: 81%;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}
.footer_container h1{
    font-size: 35px;
    font-weight: bol;
    color: #181818;
}

.footer_container p{
    font-size: 16px;
    color: #474747;
}

.footer_container .contact{
    width: 562px;
    margin-bottom: 30px;
}
.footer_container .contact p{
    width: 562px;
    margin-bottom: 30px;
}

.contact_icon img{
    margin-right: 30px;
}



.footer_container input[type="text"], textarea{
width: 461px;
margin-bottom: 24px;
font-size: 16px;
line-height: 28px;
color: #9a3030;
padding: 18px 0 18px 30px;
border-radius: 5px;
resize: none;
}