body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1536px;
    background-color: #dbcdc3;

    
.open-sans_font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto; 
}
}

.un_btn{
    background-color: #FD6E0A;
    height: 50px;
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
}
nav{
    display: flex;
    width:71%;
    background-color: #e6c8b3;
    margin: 0 auto;
    margin-top: 50px;
    justify-content:space-between;
    align-items: center;
    
}
.orange{
    color: orange;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 51px;
    align-items: center;
    
}

ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}