
/* universal style starts */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    
.open-sans_font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto; 
}
.btn{
    background-color: orange;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* universal style ends */


/* main Style starts */
header{
    background-color: #fff8f3;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2{
    font-size: 45px;
    font-size: 900px;

}
.logo .orange{
    color: orange;
} 

.menu{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
}

.menu a{
    text-decoration: none;
    color: #474747;
    font-weight: ;
   
}